
/* Oxygen Regular */
@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('fonts/Oxygen/Oxygen-Regular.ttf') format('truetype');
}

/* Barlow Regular */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('fonts/Barlow/Barlow-Regular.ttf') format('truetype');
}

/* Barlow SemiBold */
@font-face {
    font-family: 'Barlow SemiBold';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('fonts/Barlow/Barlow-SemiBold.ttf') format('truetype');
}


/* Barlow Bold */
@font-face {
    font-family: 'Barlow Bold';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('fonts/Barlow/Barlow-Bold.ttf') format('truetype');


}

/* Barlow Light */
@font-face {
    font-family: 'Barlow Light';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('fonts/Barlow/Barlow-Light.ttf') format('truetype');
}
/* Barlow SemiCondensed Regular */
@font-face {
    font-family: 'Barlow SemiCondensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf') format('truetype');
}

/* Barlow Condensed Medium */
@font-face {
    font-family: 'Barlow Condensed Medium';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('fonts/Barlow_Condensed/BarlowCondensed-Medium.ttf') format('truetype');
}