@import '/css/fonts.css';


.blue-button {
    -fx-background-color: #4B56F7;
    -fx-text-fill: white;
    -fx-background-radius: 50px;
    -fx-padding: 7px 0 7px 0;
}


.red-button:hover {
    -fx-opacity: 0.8;
}

.red-button {
    -fx-background-color: #C00D0D;
    -fx-text-fill: white;
    -fx-background-radius: 50px;
    -fx-padding: 7px 0 7px 0;
    -fx-min-width: 75px;
    -fx-min-height: 30px;
    -fx-font-family: 'Oxygen';
}


.light-blue-button {
    -fx-background-color: #00AEEF;
    -fx-text-fill: white;
    -fx-padding: 7px 0 7px 0;
    -fx-background-radius: 50px;
    -fx-min-width: 75px;
    -fx-min-height: 30px;
    -fx-font-family: 'Oxygen';

}

.white-button{
    -fx-background-color: #fff;
    -fx-text-fill: #000;
    -fx-border-color:#00AEEF ;
    -fx-border-radius: 50px;
    -fx-padding: 7px 0 7px 0;
    -fx-background-radius: 50px;
    -fx-min-width: 75px;
    -fx-min-height: 30px;
    -fx-font-family: 'Oxygen';
}

.event-tile:hover {
    -fx-opacity: 0.8;

}

.event-tile {
    -fx-background-radius: 15;
    /*-fx-background-color: #000000; we add it when adding an image*/
}

/* LOGIN WINDOW*/


.login-area {
    -fx-background-color: FFFFFF;
    -fx-opacity: 46%;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;

}

mfx-text-field {
    -fx-min-width: 130;
    -fx-font-family: 'Visby Round CF Medium';
}

.mfx-text-field .floating-text {
    -fx-font-family: 'Visby Round CF Medium';
}


.anchorPane-home, .anchorPane-events {
    -fx-background-color: #F2EAEA;

}

.redMenu {
    -fx-background-radius: 20 !important;
    -fx-background-color: #C00D0D !important;
}

.homeButton-home, .manageEventsButton-events {
    -fx-background-color: #FBBC2D;
    -fx-text-fill: #000000;
}


.manageEventsButton-home, .specialTicketsButton-home, .homeButton-events, .specialTicketsButton-events {
    -fx-background-color: #C00D0D;
    -fx-text-fill: #fff;
}

/*common*/
.homeButton-home, .manageEventsButton-home, .specialTicketsButton-home, .homeButton-events, .manageEventsButton-events, .specialTicketsButton-events {
    -fx-font-family: 'Barlow';
    -fx-font-size: 20;
}

.homeButton-home:hover, .manageEventsButton-home:hover, .specialTicketsButton-home:hover, .homeButton-events:hover, .manageEventsButton-events:hover, .specialTicketsButton-events:hover{
   /*-fx-underline: true;*/
    -fx-font-family: 'Barlow SemiBold';
}

.small-title{
    -fx-font-family: Barlow;
    -fx-font-size: 22;
}

.title{
    -fx-font-family: Barlow;
    -fx-font-size: 36;
}
.normal-text{
    -fx-font-family: Oxygen;
    -fx-font-size: 17;
}
.username {
    -fx-font-family: Oxygen;
    -fx-font-size: 14;
}

.table-view .table-cell {
    -fx-font-size: 14;
    -fx-font-family: 'Barlow Light';
    -fx-fit-to-width: true;
}



