
@import '/css/fonts.css';


.blue-button {
    -fx-background-color: #4B56F7;
    -fx-text-fill: white;
    -fx-background-radius: 50px;
    -fx-padding: 7px 0 7px 0;
}


.blue-button:hover {
    -fx-opacity: 0.8;
}

.red-button {
    -fx-background-color: #C00D0D;
    -fx-text-fill: white;
    -fx-background-radius: 50px;
    -fx-padding: 7px 0 7px 0;
    -fx-min-width: 90px;
    -fx-min-height: 35px;
    -fx-font-family: 'Oxygen';

}

.red-button:hover {
    -fx-opacity: 0.8;
}


.light-blue-button {
    -fx-background-color: #00AEEF;
    -fx-text-fill: white;
    -fx-padding: 7px 0 7px 0;
    -fx-background-radius: 50px;

}

.event-tile:hover {
    -fx-opacity: 0.8;

}

.event-tile {
    -fx-background-radius: 15;
    /*-fx-background-color: #000000; we add it when adding an image*/
}

/* LOGIN WINDOW*/


.login-area {
    -fx-background-color: FFFFFF;
    -fx-opacity: 46%;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;

}

mfx-text-field {
    -fx-min-width: 130;
    -fx-font-family: 'Visby Round CF Medium';
}

.mfx-text-field .floating-text {
    -fx-font-family: 'Visby Round CF Medium';
}

/* HOME */
.anchorPane-home{
    -fx-background-color: #F2EAEA;

}

.redMenu {
    -fx-background-radius: 20 !important;
    -fx-background-color: #C00D0D !important;
}

.homeButton-home {
    -fx-background-color: #FBBC2D;
    -fx-text-fill: #000000;}


.manageEventsButton-home, .specialTicketsButton-home {
    -fx-background-color: #C00D0D;
    -fx-text-fill: #fff;
}

/*common*/
.homeButton-home,.manageEventsButton-home, .specialTicketsButton-home{
    -fx-font-family: Barlow;
    -fx-font-weight: 600;
    -fx-font-size: 20;
}



.event-category{
    -fx-font-family: Barlow;
    -fx-font-size: 22;
}

.username{
    -fx-font-family: Oxygen;
    -fx-font-size: 14;
}



